@import "../../src/styles/colors.scss";

.hamburgerButton {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: map-get($colors, "secondGreen");
  border: 2px solid white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;

  &:hover {
    cursor: pointer;
  }

  .line {
    width: 30px;
    height: 5px;
    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  .hamburgerButton {
    display: none;
  }
}
